RetryMechanismTemplate.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>e49211fe-017b-1000-e13a-cd3bc91534c8</groupId>
    <name>RetryMechanismTemplate</name>
    <snippet>
        <processGroups>
            <id>af7e1e7d-1c71-30bf-0000-000000000000</id>
            <parentGroupId>63aedfed-b896-31ca-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2fe651a6-3782-3a78-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <versionedComponentId>8de3f1eb-45f8-36d5-bb84-31d8d15728fa</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1442.896484375</x>
                        <y>817.5245971679688</y>
                    </bends>
                    <destination>
                        <groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
                        <id>0e6a005d-62b6-304d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>a4544da2-188e-32c5-bc39-2b623e415138</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
                        <id>ff2d06a6-748b-3b7f-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>aee347ef-4a04-37de-9efa-0b282177c6f7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3b68324b-e939-3378-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <versionedComponentId>c8b30e6a-8bb2-3474-8d42-6845f27c5adb</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1036.6844482421875</x>
                        <y>305.2124938964844</y>
                    </bends>
                    <destination>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>fb9f7840-a0f3-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3369e2f6-40ff-3f58-b423-6c75b614aff6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
                        <id>3b0caf6c-1cb5-3769-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>41606590-9e0b-399e-bc78-4d6cf11ae530</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>79844ba2-a542-3247-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <versionedComponentId>f3e5f0a1-789e-3e1a-bdbb-1938c1148c91</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1033.2703204014526</x>
                        <y>168.77686396085483</y>
                    </bends>
                    <destination>
                        <groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
                        <id>0e6a005d-62b6-304d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>a4544da2-188e-32c5-bc39-2b623e415138</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>fb9f7840-a0f3-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3369e2f6-40ff-3f58-b423-6c75b614aff6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7ae705e1-8ec6-3ff7-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <versionedComponentId>0358b08a-5627-3e60-81c8-0d0116c755f4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>36dd41c6-cebb-36b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>adceeb70-16a9-3ed0-913b-736c39e03d43</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>fb9f7840-a0f3-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3369e2f6-40ff-3f58-b423-6c75b614aff6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>874d5446-5833-3bf0-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <versionedComponentId>378231df-b2cd-365d-aeaa-e20ca2a33c0e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>fb9f7840-a0f3-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3369e2f6-40ff-3f58-b423-6c75b614aff6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>75208941-552a-386c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>525c8000-86c0-39b9-a452-92ab3767aee6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9985abc4-9c53-376a-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <versionedComponentId>d0d7a9c2-7ab4-3a8b-9530-aade954ba90f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
                        <id>a307455e-1e27-348b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>a03c310e-bc6d-3150-ba94-c783f0e7be5f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>af7e1e7d-1c71-30bf-0000-000000000000</groupId>
                        <id>36dd41c6-cebb-36b2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>adceeb70-16a9-3ed0-913b-736c39e03d43</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>24b6b664-10d9-3226-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <position>
                        <x>569.6785156152998</x>
                        <y>-131.50251566779423</y>
                    </position>
                    <versionedComponentId>003ff997-1b12-3408-81fa-c53fb5acec1f</versionedComponentId>
                    <height>26.38997459411621</height>
                    <label>Main Logic Queue
</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#19b804</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>126.12078857421875</width>
                </labels>
                <processGroups>
                    <id>4b427c21-c5d1-3761-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <position>
                        <x>1254.3720865043656</x>
                        <y>157.53652093193455</y>
                    </position>
                    <versionedComponentId>460df0ac-4472-3c74-9d96-ef3c55b9aca1</versionedComponentId>
                    <comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments>
                    <contents>
                        <connections>
                            <id>08b9a0c6-a6b0-3e5d-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>6c02f98a-d573-3c7c-8e10-c6423dd8c11e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-30.11256217956543</x>
<y>852.51025390625</y>
                            </bends>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>3b0caf6c-1cb5-3769-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>41606590-9e0b-399e-bc78-4d6cf11ae530</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>d3e37898-cf0a-3dc7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>39109fc8-c72f-3c36-b9d7-10111cc4dff2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0bde36ad-0334-3f70-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>afb47bdd-8230-3d0a-abbc-188c9e4223e9</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>e471c218-0fb3-3bd7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2bd1c193-a91b-3084-81d2-48a492dd129a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>a42e39e0-0eef-321d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fe310e64-f4b7-3f2e-8dd8-2226f936f15e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>28ea2968-21d1-3402-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>1d8b7b7e-47c6-3b8f-83c5-176161dda2b4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>e95532c1-19d3-391f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bb496a40-ae42-3972-a8a4-669effea9033</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>e471c218-0fb3-3bd7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2bd1c193-a91b-3084-81d2-48a492dd129a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>34a4c9ea-040c-32c5-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>a3f03118-33d3-3aca-9b6a-fe6a4df3ff56</versionedComponentId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>3b0caf6c-1cb5-3769-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>41606590-9e0b-399e-bc78-4d6cf11ae530</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Try again</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>df62832d-d10e-333f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a8561c26-8927-31b5-a0b5-9630e1def389</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3602876a-67d6-3e00-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>50238709-3970-32f4-9d45-e7d7ded3e4fd</versionedComponentId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>df62832d-d10e-333f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a8561c26-8927-31b5-a0b5-9630e1def389</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>1f3fa8c4-8fce-31e2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>80812b8f-3848-3e69-8b4c-4fadf39eb262</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>61b29daf-1484-3cc3-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>8d542394-6ae0-3e9a-85f8-910efc79f621</versionedComponentId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10</backPressureObjectThreshold>
                            <bends>
<x>1454.7263793945312</x>
<y>594.708984375</y>
                            </bends>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>65e3a7be-b13a-328c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e8f807fb-c49d-30b1-941e-06d4fc7596a3</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>df62832d-d10e-333f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>a8561c26-8927-31b5-a0b5-9630e1def389</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>765ee8e6-0ac7-38af-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>61b5ccc7-739e-34c1-8232-555577176c6c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>1f3fa8c4-8fce-31e2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>80812b8f-3848-3e69-8b4c-4fadf39eb262</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>0e6a005d-62b6-304d-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>a4544da2-188e-32c5-bc39-2b623e415138</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>abead448-4d41-3b1a-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>e72e1e33-bba5-353c-a50e-5ffb560b975e</versionedComponentId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>a42e39e0-0eef-321d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fe310e64-f4b7-3f2e-8dd8-2226f936f15e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>65e3a7be-b13a-328c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e8f807fb-c49d-30b1-941e-06d4fc7596a3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e985c668-b881-3e26-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <versionedComponentId>004b420d-3dee-3dd0-90e2-df806f455959</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>b74751ef-1c61-39a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4be1e0d5-aead-3ba4-8d02-3a6549b33580</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>4b427c21-c5d1-3761-0000-000000000000</groupId>
<id>0e6a005d-62b6-304d-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>a4544da2-188e-32c5-bc39-2b623e415138</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>0e6a005d-62b6-304d-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>609.4801496780093</x>
<y>95.32810084844655</y>
                            </position>
                            <versionedComponentId>a4544da2-188e-32c5-bc39-2b623e415138</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>data</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>2d6a88e2-c6ce-3ee5-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>465.4547361574175</x>
<y>20.718650951196196</y>
                            </position>
                            <versionedComponentId>18ec1f0d-4a37-372a-a591-670d7675205b</versionedComponentId>
                            <height>910.8897247314453</height>
                            <label></label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#85b878</value>
</entry>
                            </style>
                            <width>603.1992340087891</width>
                        </labels>
                        <labels>
                            <id>510f6678-1b00-3bf5-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1373.8689075839466</x>
<y>515.7261275051492</y>
                            </position>
                            <versionedComponentId>c29573fa-34fb-3200-9bde-10bc275b9ac5</versionedComponentId>
                            <height>33.14565849304199</height>
                            <label>Rabbit Push UnprocessQueue
</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>12px</value>
</entry>
                            </style>
                            <width>180.35177612304688</width>
                        </labels>
                        <labels>
                            <id>7026919b-b9a9-3660-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1173.5741819581988</x>
<y>540.4805909536376</y>
                            </position>
                            <versionedComponentId>7e79b432-5c72-3e4c-9a05-bbe929c7e920</versionedComponentId>
                            <height>1121.5742950439453</height>
                            <label></label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#ed7676</value>
</entry>
                            </style>
                            <width>585.0106353759766</width>
                        </labels>
                        <labels>
                            <id>b9cbee2f-6a69-3f66-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>-160.2960734386835</x>
<y>399.65626212086084</y>
                            </position>
                            <versionedComponentId>737fa235-434b-3148-8ce9-d0d4cb1c9f4c</versionedComponentId>
                            <height>26.389963150024414</height>
                            <label>Failure Queue (Scheduled every 5 min)
</label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0278a6</value>
</entry>
<entry>
    <key>font-size</key>
    <value>14px</value>
</entry>
                            </style>
                            <width>258.1587829589844</width>
                        </labels>
                        <labels>
                            <id>d55830c2-9117-3c80-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>-263.5328889646528</x>
<y>431.1411439321532</y>
                            </position>
                            <versionedComponentId>d4a8f649-32c7-343d-b530-f21cfb28f4ed</versionedComponentId>
                            <height>606.2306671142578</height>
                            <label></label>
                            <style>
<entry>
    <key>background-color</key>
    <value>#f1d4ff</value>
</entry>
                            </style>
                            <width>465.26905822753906</width>
                        </labels>
                        <outputPorts>
                            <id>3b0caf6c-1cb5-3769-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>612.2003492629703</x>
<y>820.189959979306</y>
                            </position>
                            <versionedComponentId>41606590-9e0b-399e-bc78-4d6cf11ae530</versionedComponentId>
                            <comments>Items sent to this port have not yet exceeded the maximum retry count.</comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>retry</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>1f3fa8c4-8fce-31e2-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>553.5000318801578</x>
<y>292.12000636602465</y>
                            </position>
                            <versionedComponentId>80812b8f-3848-3e69-8b4c-4fadf39eb262</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>retry.counter</key>
        <value>
            <name>retry.counter</name>
        </value>
    </entry>
    <entry>
        <key>retry.maxcount</key>
        <value>
            <name>retry.maxcount</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>retry.counter</key>
        <value>${retry.counter:replaceNull('0'):plus(1)}</value>
    </entry>
    <entry>
        <key>retry.maxcount</key>
        <value>${retry.maxcount:replaceNull('3')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set retry counter</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>65e3a7be-b13a-328c-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1282.0509574448727</x>
<y>805.838586478604</y>
                            </position>
                            <versionedComponentId>e8f807fb-c49d-30b1-941e-06d4fc7596a3</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>retry.counter</key>
        <value>
            <name>retry.counter</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>retry.counter</key>
        <value>0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Reset retry counter</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>a42e39e0-0eef-321d-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1278.9341636481327</x>
<y>1056.9153165879134</y>
                            </position>
                            <versionedComponentId>fe310e64-f4b7-3f2e-8dd8-2226f936f15e</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>body</key>
        <value>
            <name>body</name>
        </value>
    </entry>
    <entry>
        <key>header</key>
        <value>
            <name>header</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>body</key>
        <value>${'amqp$contentEncoding'}</value>
    </entry>
    <entry>
        <key>header</key>
        <value>{}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>b74751ef-1c61-39a8-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1168.4822142377002</x>
<y>62.23478041665618</y>
                            </position>
                            <versionedComponentId>4be1e0d5-aead-3ba4-8d02-3a6549b33580</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>d3e37898-cf0a-3dc7-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>-205.15980911254883</x>
<y>449.2205570936203</y>
                            </position>
                            <versionedComponentId>39109fc8-c72f-3c36-b9d7-10111cc4dff2</versionedComponentId>
                            <bundle>
<artifact>nifi-amqp-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Queue</key>
        <value>
            <name>Queue</name>
        </value>
    </entry>
    <entry>
        <key>auto.acknowledge</key>
        <value>
            <name>auto.acknowledge</name>
        </value>
    </entry>
    <entry>
        <key>batch.size</key>
        <value>
            <name>batch.size</name>
        </value>
    </entry>
    <entry>
        <key>Brokers</key>
        <value>
            <name>Brokers</name>
        </value>
    </entry>
    <entry>
        <key>Host Name</key>
        <value>
            <name>Host Name</name>
        </value>
    </entry>
    <entry>
        <key>Port</key>
        <value>
            <name>Port</name>
        </value>
    </entry>
    <entry>
        <key>Virtual Host</key>
        <value>
            <name>Virtual Host</name>
        </value>
    </entry>
    <entry>
        <key>User Name</key>
        <value>
            <name>User Name</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>AMQP Version</key>
        <value>
            <name>AMQP Version</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>cert-authentication</key>
        <value>
            <name>cert-authentication</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Queue</key>
        <value>FAILURE.QUEUE</value>
    </entry>
    <entry>
        <key>auto.acknowledge</key>
        <value>false</value>
    </entry>
    <entry>
        <key>batch.size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Brokers</key>
    </entry>
    <entry>
        <key>Host Name</key>
        <value>localhost</value>
    </entry>
    <entry>
        <key>Port</key>
        <value>5672</value>
    </entry>
    <entry>
        <key>Virtual Host</key>
        <value>server</value>
    </entry>
    <entry>
        <key>User Name</key>
        <value>guest</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>AMQP Version</key>
        <value>0.9.1</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>efd0b144-c27d-3712-0000-000000000000</value>
    </entry>
    <entry>
        <key>cert-authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>FAILURE.QUEUE</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.amqp.processors.ConsumeAMQP</type>
                        </processors>
                        <processors>
                            <id>df62832d-d10e-333f-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>555.0000776565249</x>
<y>527.9600063660247</y>
                            </position>
                            <versionedComponentId>a8561c26-8927-31b5-a0b5-9630e1def389</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Try again</key>
        <value>
            <name>Try again</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>Try again</key>
        <value>${retry.counter:le('${retry.maxcount}')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Check Retry Count</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Try again</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>e471c218-0fb3-3bd7-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1282.700109331696</x>
<y>1279.4476203694137</y>
                            </position>
                            <versionedComponentId>2bd1c193-a91b-3084-81d2-48a492dd129a</versionedComponentId>
                            <bundle>
<artifact>nifi-amqp-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Exchange Name</key>
        <value>
            <name>Exchange Name</name>
        </value>
    </entry>
    <entry>
        <key>Routing Key</key>
        <value>
            <name>Routing Key</name>
        </value>
    </entry>
    <entry>
        <key>Brokers</key>
        <value>
            <name>Brokers</name>
        </value>
    </entry>
    <entry>
        <key>Host Name</key>
        <value>
            <name>Host Name</name>
        </value>
    </entry>
    <entry>
        <key>Port</key>
        <value>
            <name>Port</name>
        </value>
    </entry>
    <entry>
        <key>Virtual Host</key>
        <value>
            <name>Virtual Host</name>
        </value>
    </entry>
    <entry>
        <key>User Name</key>
        <value>
            <name>User Name</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>AMQP Version</key>
        <value>
            <name>AMQP Version</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>cert-authentication</key>
        <value>
            <name>cert-authentication</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Exchange Name</key>
        <value>server.exchange</value>
    </entry>
    <entry>
        <key>Routing Key</key>
        <value>HISTFAILURE.QUEUE</value>
    </entry>
    <entry>
        <key>Brokers</key>
    </entry>
    <entry>
        <key>Host Name</key>
        <value>rmqtest</value>
    </entry>
    <entry>
        <key>Port</key>
        <value>5672</value>
    </entry>
    <entry>
        <key>Virtual Host</key>
        <value>server</value>
    </entry>
    <entry>
        <key>User Name</key>
        <value>guest</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>AMQP Version</key>
        <value>0.9.1</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>efd0b144-c27d-3712-0000-000000000000</value>
    </entry>
    <entry>
        <key>cert-authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>REQUIRED</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishAMQP_For_BPMINTEGRATION.HISTORY.FAILURE.QUEUE</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.amqp.processors.PublishAMQP</type>
                        </processors>
                        <processors>
                            <id>e95532c1-19d3-391f-0000-000000000000</id>
                            <parentGroupId>4b427c21-c5d1-3761-0000-000000000000</parentGroupId>
                            <position>
<x>1280.8530689346633</x>
<y>1505.415437009302</y>
                            </position>
                            <versionedComponentId>bb496a40-ae42-3972-a8a4-669effea9033</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>debug</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>DB-ORACLE-ERROR</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Retry Check Loop</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>cda58ea6-687e-3066-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <position>
                        <x>443.65131502920053</x>
                        <y>733.0684437961456</y>
                    </position>
                    <versionedComponentId>5b9518d7-9d03-3e3f-85ac-84cda6f0a4be</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>00452fe3-1060-3144-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>110782ac-c67e-39a9-8bad-ab5c6c3e732f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>404.6822204589844</x>
<y>1306.114990234375</y>
                            </bends>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>ff2d06a6-748b-3b7f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>aee347ef-4a04-37de-9efa-0b282177c6f7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>4ff9a115-6619-3844-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c0d01b31-9a22-3307-bf08-0cba2dd922a8</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>13be72fe-7f46-32d6-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>80a308b3-c533-37a9-95e6-0fb54cad1c3d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>4ff9a115-6619-3844-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c0d01b31-9a22-3307-bf08-0cba2dd922a8</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>2</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>40aed046-10db-3be4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>664f6292-9d3e-3260-8112-580e0d2be2af</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3359410b-1fb1-391d-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>ed2d2d3a-fd63-323b-8b7d-a4bb2821fb1e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>866.510009765625</x>
<y>1299.5174560546875</y>
                            </bends>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>ff2d06a6-748b-3b7f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>aee347ef-4a04-37de-9efa-0b282177c6f7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>1f161ac3-bc9c-390d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1c040be5-88ca-3772-86b6-7838fa894ab4</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3e7b5189-0885-3778-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>53b2050d-5b65-36b6-a83b-84dda94473d5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1307.2255859375</x>
<y>1311.3929443359375</y>
                            </bends>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>ff2d06a6-748b-3b7f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>aee347ef-4a04-37de-9efa-0b282177c6f7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>ef326740-b615-3556-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>53d4580e-2e0c-360e-99bb-b8fbf9e37e04</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4a69f704-1f72-3de3-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>a16c041e-638a-3cbe-80c8-ac16842d08b8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>c4eaa5e7-c68b-3f78-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>52ea3b99-0825-30cf-9b68-292d3dc5b562</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>1</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>40aed046-10db-3be4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>664f6292-9d3e-3260-8112-580e0d2be2af</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>75ad7455-d355-3172-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>a01200c4-99f8-35b1-b064-48af4c7a75b4</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>-59.78456115722656</x>
<y>1307.4345703125</y>
                            </bends>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>ff2d06a6-748b-3b7f-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>aee347ef-4a04-37de-9efa-0b282177c6f7</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>c4eaa5e7-c68b-3f78-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>52ea3b99-0825-30cf-9b68-292d3dc5b562</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>856de784-af89-3596-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>d4715b94-2ed2-3c51-a990-a92ad6fdde5d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>1f161ac3-bc9c-390d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1c040be5-88ca-3772-86b6-7838fa894ab4</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>3</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>40aed046-10db-3be4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>664f6292-9d3e-3260-8112-580e0d2be2af</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8eae762a-7e73-3962-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>42131a83-70d3-3cb7-a1b2-798367de89d8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>ef326740-b615-3556-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>53d4580e-2e0c-360e-99bb-b8fbf9e37e04</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>40aed046-10db-3be4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>664f6292-9d3e-3260-8112-580e0d2be2af</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fad02953-afb1-3459-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <versionedComponentId>c1174c1d-2c3c-3c0f-8238-226b158c60bd</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>40aed046-10db-3be4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>664f6292-9d3e-3260-8112-580e0d2be2af</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>cda58ea6-687e-3066-0000-000000000000</groupId>
<id>a307455e-1e27-348b-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>a03c310e-bc6d-3150-ba94-c783f0e7be5f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>a307455e-1e27-348b-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>499.124382049475</x>
<y>358.33950811853686</y>
                            </position>
                            <versionedComponentId>a03c310e-bc6d-3150-ba94-c783f0e7be5f</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>data</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>ff2d06a6-748b-3b7f-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>518.1599248548148</x>
<y>1500.0826616741938</y>
                            </position>
                            <versionedComponentId>aee347ef-4a04-37de-9efa-0b282177c6f7</versionedComponentId>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>1f161ac3-bc9c-390d-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>690.8241344559037</x>
<y>1007.2747814917238</y>
                            </position>
                            <versionedComponentId>1c040be5-88ca-3772-86b6-7838fa894ab4</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9c3844a-7647-3396-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>40aed046-10db-3be4-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>448.7005615234375</x>
<y>542.0963439941406</y>
                            </position>
                            <versionedComponentId>664f6292-9d3e-3260-8112-580e0d2be2af</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>1</key>
        <value>
            <name>1</name>
        </value>
    </entry>
    <entry>
        <key>2</key>
        <value>
            <name>2</name>
        </value>
    </entry>
    <entry>
        <key>3</key>
        <value>
            <name>3</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>1</key>
        <value>${randomValueForRoute:mod(3):plus(1):equals(1)}</value>
    </entry>
    <entry>
        <key>2</key>
        <value>${randomValueForRoute:mod(3):plus(1):equals(2)}</value>
    </entry>
    <entry>
        <key>3</key>
        <value>${randomValueForRoute:mod(3):plus(1):equals(3)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>1</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>2</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>3</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>4ff9a115-6619-3844-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>230.8241039383256</x>
<y>1008.2747814917238</y>
                            </position>
                            <versionedComponentId>c0d01b31-9a22-3307-bf08-0cba2dd922a8</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9c3844a-7647-3396-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>c4eaa5e7-c68b-3f78-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>-232.17592657925252</x>
<y>1010.5158703589113</y>
                            </position>
                            <versionedComponentId>52ea3b99-0825-30cf-9b68-292d3dc5b562</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9c3844a-7647-3396-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>ef326740-b615-3556-0000-000000000000</id>
                            <parentGroupId>cda58ea6-687e-3066-0000-000000000000</parentGroupId>
                            <position>
<x>1131.8241344559037</x>
<y>1008.2747814917238</y>
                            </position>
                            <versionedComponentId>53d4580e-2e0c-360e-99bb-b8fbf9e37e04</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.14.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>d9c3844a-7647-3396-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>DB Writer Processor Group</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>36dd41c6-cebb-36b2-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <position>
                        <x>460.2058819860181</x>
                        <y>447.36869936180756</y>
                    </position>
                    <versionedComponentId>adceeb70-16a9-3ed0-913b-736c39e03d43</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>randomValueForRoute</key>
<value>
    <name>randomValueForRoute</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.1.type</key>
<value>
    <name>sql.args.1.type</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.1.value</key>
<value>
    <name>sql.args.1.value</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.2.type</key>
<value>
    <name>sql.args.2.type</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.2.value</key>
<value>
    <name>sql.args.2.value</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.3.type</key>
<value>
    <name>sql.args.3.type</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.3.value</key>
<value>
    <name>sql.args.3.value</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.4.type</key>
<value>
    <name>sql.args.4.type</name>
</value>
                            </entry>
                            <entry>
<key>sql.args.4.value</key>
<value>
    <name>sql.args.4.value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>randomValueForRoute</key>
<value>${random()}</value>
                            </entry>
                            <entry>
<key>sql.args.1.type</key>
<value>12</value>
                            </entry>
                            <entry>
<key>sql.args.1.value</key>
<value>${taskName}</value>
                            </entry>
                            <entry>
<key>sql.args.2.type</key>
<value>12</value>
                            </entry>
                            <entry>
<key>sql.args.2.value</key>
<value>${userAction}</value>
                            </entry>
                            <entry>
<key>sql.args.3.type</key>
<value>12</value>
                            </entry>
                            <entry>
<key>sql.args.3.value</key>
<value>${taskId}</value>
                            </entry>
                            <entry>
<key>sql.args.4.type</key>
<value>12</value>
                            </entry>
                            <entry>
<key>sql.args.4.value</key>
<value>${variables}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>75208941-552a-386c-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <position>
                        <x>454.4215087890625</x>
                        <y>-102.54117476940155</y>
                    </position>
                    <versionedComponentId>525c8000-86c0-39b9-a452-92ab3767aee6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-amqp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Queue</key>
<value>
    <name>Queue</name>
</value>
                            </entry>
                            <entry>
<key>auto.acknowledge</key>
<value>
    <name>auto.acknowledge</name>
</value>
                            </entry>
                            <entry>
<key>batch.size</key>
<value>
    <name>batch.size</name>
</value>
                            </entry>
                            <entry>
<key>Brokers</key>
<value>
    <name>Brokers</name>
</value>
                            </entry>
                            <entry>
<key>Host Name</key>
<value>
    <name>Host Name</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Virtual Host</key>
<value>
    <name>Virtual Host</name>
</value>
                            </entry>
                            <entry>
<key>User Name</key>
<value>
    <name>User Name</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>AMQP Version</key>
<value>
    <name>AMQP Version</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>cert-authentication</key>
<value>
    <name>cert-authentication</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Queue</key>
<value>QUEUE</value>
                            </entry>
                            <entry>
<key>auto.acknowledge</key>
<value>false</value>
                            </entry>
                            <entry>
<key>batch.size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Brokers</key>
                            </entry>
                            <entry>
<key>Host Name</key>
<value>localhost</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>5672</value>
                            </entry>
                            <entry>
<key>Virtual Host</key>
<value>Server</value>
                            </entry>
                            <entry>
<key>User Name</key>
<value>guest</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>AMQP Version</key>
<value>0.9.1</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>efd0b144-c27d-3712-0000-000000000000</value>
                            </entry>
                            <entry>
<key>cert-authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>0 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeQueueAMQP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.amqp.processors.ConsumeAMQP</type>
                </processors>
                <processors>
                    <id>fb9f7840-a0f3-33af-0000-000000000000</id>
                    <parentGroupId>af7e1e7d-1c71-30bf-0000-000000000000</parentGroupId>
                    <position>
                        <x>456.2627925797897</x>
                        <y>182.0486248364548</y>
                    </position>
                    <versionedComponentId>3369e2f6-40ff-3f58-b423-6c75b614aff6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>taskId</key>
<value>
    <name>taskId</name>
</value>
                            </entry>
                            <entry>
<key>taskName</key>
<value>
    <name>taskName</name>
</value>
                            </entry>
                            <entry>
<key>userAction</key>
<value>
    <name>userAction</name>
</value>
                            </entry>
                            <entry>
<key>variables</key>
<value>
    <name>variables</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>taskId</key>
<value>$.taskId</value>
                            </entry>
                            <entry>
<key>taskName</key>
<value>$.taskName</value>
                            </entry>
                            <entry>
<key>userAction</key>
<value>$.userAction</value>
                            </entry>
                            <entry>
<key>variables</key>
<value>$.variables</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Retry mechanism</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/27/2021 09:14:46 EET</timestamp>
</template>
